{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
   <div class="topTitle">
        请选择待测算物业基准状态
    </div>
    
    <a href="{{ url('_types',{'status':'1'}) }}" class="btnA indexBtn1">完工物业</a>
    <a href="{{ url('_types',{'status':'2'}) }}" class="btnA indexBtn2">在建工程</a>
    
    <div class="bottomLink"><a href="javascript:void(0);" onClick="showNote();">特别免责申明</a></div>
{% endblock %}