{% extends 'AppBundle:default:base.html.twig' %}
{% block body %}
{% block background %}
<style>
body{ background:#f3f3f3;}
</style>
{% endblock %}
<div class="wrapper">
	{% block content %}
	{% endblock %}
</div>
<div class="popBg" style="display:none;" onClick="closePop();"></div>
<div class="pop popNote" style="display:none;" onClick="closePop();">
	<p class="noteTitle">特别免责申明</p>
    <p class="noteContent">该测算结果基于一定的经验参数并通过简化的计算公式得出，每个房地产项目皆有其特殊性，如需获得相对准确之估值，我们建议您聘请权威评估机构出具评估报告。该测算结果仅供个人参考，“评估大师”订阅号及幕后团队不对该测算结果负任何责任，同时该测算结果不得用于任何其他目的。</p>
</div>
<div style="display:none;">
<script src="http://s95.cnzz.com/z_stat.php?id=1257022472&web_id=1257022472" language="JavaScript"></script>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}